<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.utoronto.timemng.app"
    android:installLocation="auto">

    <!--<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="19" />-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission android:name="com.utoronto.timemng.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.utoronto.timemng.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.SEND" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.utoronto.timemng.app.CoreActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
                android:name="com.utoronto.timemng.c2dm.GcmBroadcastReceiver"
                android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.utoronto.timemng.app"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
            </intent-filter>
        </receiver>

        <!--<receiver android:name="com.utoronto.timemng.c2dm.GcmBroadcastReceiver">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.android.c2dm.intent.RETRY" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
    </application>
</manifest>
